body {
    font-family: 'Aboreto', cursive;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/cover-2.png);
    background-repeat: no-repeat;
}

.do-impossible-mission {
    background-image: url(images/second-cover.png);
    background-repeat: no-repeat;
    background-position: right;

}